@import "../reset.css";
@import "character.css";

body {
  height: 500vw;
  color: #555555;
}

.background {
  position: fixed;
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  width: 100vw;
  height: 100vh;
  filter: blur(10px) brightness(4);
}

.world {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
}

.stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

.house {
  width: 100vw;
  height: 100vh;
  transform: translateZ(-300vw);
  transform-style: preserve-3d;
}

.wall {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.wall-left,
.wall-right {
  width: 3300vw;
  background: #2f3542;
  transition: background 1s;
}

.wall-left {
  transform: rotateY(90deg) translateZ(-1650vw) translateX(1050vw);
}

.wall-right {
  transform: rotateY(90deg) translateZ(-1550vw) translateX(1050vw);
}

.wall-front:last-child .wall-content {
  background: rgb(23, 0, 2);
}

.wall-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
}

.wall-content img {
  min-width: 0;
  width: 100%;
  object-fit: contain;
}

.wall-title {
  font-size: 4rem;
}

.progress-bar-container {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.progress-bar {
  width: 0;
  height: 100%;
  background: #00a8ff;
  transition: background 1s;
}
